######## GENERAL IGNORES #######

# ignore logs, OS cache files
*.log
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

######## GENERAL .NET IGNORES ########

# Ignore binaries in the source
bin/
obj/

# Ignore user-scoped solution and project settings
*.user
*.suo
.vs

# NuGet packages
Packages/*
!Packages/repositories.config

Build/*.nupkg