<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Sitecore.Kernel.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Client.Configuration.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Client.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Collection.Model.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net52" developmentDependency="true" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net52" developmentDependency="true" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net52" developmentDependency="true" />
</packages>